.data {
  display: none;
}

.g-signin2 {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px; 
}

/*.container {
  width: min(36.3rem, 100%);
  margin: 0 auto;
} */

